server:
  port: 8000
  servlet:
    context-path: /api

spring:
  jpa:
    properties:
      hibernate:
        temp:
          use_jdbc_metadata_defaults: false
    hibernate:
      ddl-auto: none
  datasource:
    #url: jdbc:postgresql://localhost:5932/postgres
    url: jdbc:postgresql://valisonu.cvun9oez4fgd.us-east-1.rds.amazonaws.com:5432/postgres
    username: valisonu
    password: rCLCUY&E
logging:
  file: ./logs/application.log
  level:
    org.springframework.web: ERROR
    com.howtodoinjava: DEBUG
    org.hibernate: ERROR