server:
  port: 443
  ssl:
    key-store: keystore.p12
    key-store-password: I6m4V&H^wANa
    keyStoreType: PKCS12
    keyAlias: tomcat
  servlet:
    context-path: /api

spring:
  jpa:
    properties:
      hibernate:
        temp:
          use_jdbc_metadata_defaults: false
    hibernate:
      ddl-auto: none
  datasource:
#    url: jdbc:postgresql://localhost:5932/postgres
    url: jdbc:postgresql://valisonu.cvun9oez4fgd.us-east-1.rds.amazonaws.com:5432/postgres
    username: valisonu
    password: rCLCUY&E
logging:
  file: ./logs/application.log
  pattern:
    console: "%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"
    file: "%d %p %c{1.} [%t] %m%n"
  level:
    org.springframework.web: ERROR
    com.howtodoinjava: DEBUG
    org.hibernate: ERROR